In [2]:
import pandas as pd

# Examples of creating pandas dataframes

## Creating a pandas dataframe from a dictionary

In [6]:
data = {
    'Name' : ['UserName', 'UserName2', "UserName3"],
    'Age' : [1234, 123412341, 1234123443221],
    'City': ['Mt. aoaiwespo', 'City', 'city3'] 
}
df = pd.DataFrame(data)

In [7]:
print(df)

        Name            Age           City
0   UserName           1234  Mt. aoaiwespo
1  UserName2      123412341           City
2  UserName3  1234123443221          city3

## Creating a df from a list of lists

In [8]:
data = [
    ['Alice', 25, 'New York'],
    ['Bob', 30, 'Los Angeles'],
    ['Charlie', 35, 'Chicago']
]

In [9]:
df = pd.DataFrame(df, columns = ['Name', 'Age', 'City'])

In [10]:
print(df)

        Name            Age           City
0   UserName           1234  Mt. aoaiwespo
1  UserName2      123412341           City
2  UserName3  1234123443221          city3

## Creating a df from a list of dictionaries

In [11]:
data = [
    {'Name': 'Alice', 'Age': 25, 'City': 'New York'},
    {'Name': 'Bob', 'Age': 30, 'City': 'Los Angeles'},
    {'Name': 'Charlie', 'Age': 35, 'City': 'Chicago'}
]
df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago